.about_banner{
    height: 500px;
    width: 100%;
    background-image: url('./images/pistol.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.about_banner h1{
    color: white;
    font-size: 10vh;
    padding-top: 160px;
    padding-left: 160px;
}


.aboutsectionleft{
    
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
}

.aboutsectionleft img{
    max-width:70%;
    height:auto;
    margin-top: 80px;
    margin-bottom: 15px;
    margin-left: 80px;
}
.aboutDescription{
    width: 50%;
    margin-top: 80px;
    margin-right: 80px;
}
.aboutDescription h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    /* text-align: justify; */
    line-height: 50px;
}
.aboutDescription p{
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 28px;
}

/* Chief part  */

.aboutsectionRight{
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.aboutsectionRight::before{
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 30%;
}

.aboutsectionRight img{
    max-width:80%;
    height:auto;
    margin-top: 150px;
    margin-bottom: 15px;
    margin-right: 80px;
}

.aboutDescription2{
    width: 50%;
    margin-top: 80px;
    margin-left: 80px;
}
.aboutDescription2 h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 28px;
}

.aboutDescription2 p{
    width: 80%;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 28px;
}