*{
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: yellowgreen;
}
nav{
    background-color: white;
    display: flex;
    height: 130px;
}
nav img{
    height: 100px;
    width: 100px;
    margin-top: 15px;
    
}

.nav-doc{
    display: flex;
    height: 50%;
    font-size: 24px;
}
.bar::after{
    content: '';
    margin-top: 10px;
    height: 35px; 
    position: absolute;
    border: 2px solid #1a173a;
}

.nav-doc p{
    font-style: italic;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 12px;
}

.nav-doc i{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.nav-doc h4{
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 20px;
}

.nav-doc img{
    height: 50%;
    width: 5%;
    margin-left: 20px;
    margin-right: 15px;

}

.social-icon{
    margin-left: 50px;
}

.nav-links{
    background-color: #15173b;
    height: 50%;
    padding-left: 20px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 21px 30px;
    position: relative;
}
.nav-links ul li i{
    color: white;
}

.nav-links ul li :hover{
    color: #b8b8b9;
    transition: 0.5s;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;  
    font-size: 18px;

}


.logo-section{
    background-color: white;
    text-align: center;
    height: 130px;
    width: 250px;
}

.item-section{
    width: 100%;
}